.aa1 {
  color: black;
  padding: 8%;
}

.profile1 {
  height: 50%;
  width: 45%;
  box-shadow: 25px 15px white, 30px 20px lightslategray;
  border: 2px black;
  position: relative;
  top: 50px;
  left: 40%;
}

.profile-row {
  margin-bottom: 150px;
}

.backgroundt {
  position: relative;
  left: -70px;
}

@media only screen and (max-width: 1000px) {
  .backgroundt {
    position: relative;
    left: 0px;
  }

  .profile1 {
    height: 60%;
    width: 60%;
    left: 30%;
  }

  .profile-row {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 780px) {
  .backgroundt {
    position: relative;
    left: 0px;
  }

  .profile1 {
    height: 50%;
  }

  .profile-row {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 570px) {
  .backgroundt {
    position: relative;
    left: 0px;
  }

  .profile1 {
    height: 50%;
    width: 45%;
    top: 50%;
  }

  .profile-row {
    margin-bottom: 0px;
  }
}

.name {
  color: #82bbb5;
}

.resume_button:hover {
  color: white;
}

.resume {
  color: #6c757d;
}

.resume:hover {
  color: white;
  text-decoration: none;
}

.name2 {
  color: #ca884b;
}

.profile2 {
  top: 30px;
  right: -50px;
  position: relative;
  height: 90%;
  width: 65%;
  box-shadow: 30px 30px lightpink;
}

.workt {
  top: 30px;
  position: relative;
  left: 40px;
}

.name3 {
  color: #ca884b;
}

.vertical-timeline-element-icon {
  left: 52% !important;
  top: 12% !important;
  width: 20px !important;
  height: 20px !important;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  position: absolute;
  right: 50%;
  background: #dcdcdc !important;
}

.vertical-timeline-element-content {
  background: #ebecf0;
}
